@model DTS.HelpDesk.Areas.Admin.Models.FAQViewModel
@{
    ViewBag.Title = "Create FAQ";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Create", "FAQ", FormMethod.Post, new { role = "form" }))
        {
            @Html.Partial("_CreateOrEdit")
        }
    </div>
</div>

@section Styles {
    @Styles.Render("~/editor/styles")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/editor/scripts")
    <script>
        $('.txtArea').summernote({
            height: 300
        });
    </script>
}
