@using DTS.HelpDesk.Areas.Admin.Infrastructure.Helpers;
@model DTS.HelpDesk.Areas.Admin.Models.ProfileViewModel
@{
    
    ViewBag.Title = "Profile";
    var name = !string.IsNullOrWhiteSpace(Model.ProperName) ? Model.ProperName  : Model.Email;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@name</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-2">
                    <i class="fa fa-user fa-5x"></i>
                </div>

                <div class="col-md-10">
                    <table class="table table-condensed table-striped">
                        <tr>
                            <td>Name</td>
                            <td>@Model.FirstName @Model.LastName</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>@Model.Email, Confirmed: @Model.EmailConfirmed</td>
                        </tr>  
                        @if (User.IsInRole("admin"))
                        {
                        <tr>
                            <td>Roles</td>
                            <td>@Model.Roles.ToList().ToDelimitedString(x => x.Name)</td>
                        </tr>
                        }
                        <tr>
                            <td>Phone</td>
                            <td>@Model.Phone</td>
                        </tr>
                        <tr>
                            <td>Locked Out</td>
                            <td>@(Model.IsLockedOut == true ? "Yes" : "No")</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12">
                    @Html.ActionLink("Edit", "Manage", new{ controller = "Account", area = "Admin" }, new {@class = "btn btn-info pull-right" })
                </div>
            </div>
        </div>


    </div>
</div>

